/*This is for footer */
.footer-container {
  width: 100%;
  background: #4c6678;
  color: #fff;
  padding: 3em 0;
  margin-top: 11em;
}

/*
.container {
  text-align: center;
}

ul.footer-links {
  margin: 0 auto;
}

ul.footer-links li {
  display: inline-block;
}

ul.footer-links li a {
  color: #9d9d9d;
  font-size: 0.8em;
} */

.footer-menu {
  display: flex;
  justify-content: center;
}

.footer-menu .foot-left-col {
  margin-right: 3em;
}

.footer-menu .foot-right-col {
  margin-left: 3em;
}

.footer-menu .single-footer-menu {
  margin-top: 1em;
  padding: 0.1em 0.3em;
}

.footer-menu .single-footer-menu:hover {
  background: grey;
  /* font-size: 14px; */
}
